@import url(normalize.css);
@import url(pygment_trac.css);

/*******************************************************************************
Theme Styles
*******************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
 
body {
  color:#373737;
  background: #212121;
  font-size: 18px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
 /*  line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h5, h6 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  margin: 0px;
  font-weight: 700;
  color:#222222;
}

h1 {
  margin-bottom: 2px;
  margin-top: 15px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  
  
}

h1#project_title {
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 24px;
  line-height: 1.3;
}

h4 {

  text-align: center;
  color:#eee;
  margin-right: 0px;
  font-family: "roboto condensed";
  margin-top: 10px;
  margin-left: 3px;
}

h5 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
}

h6 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
}

p {
  font-family: "Lato";
  font-size: 12px;
  margin: 0px 0 15px 0;
}

/* footer p {
  color: #f2f2f2;
  font-size: 12px;
  vertical-align: baseline;
  text-align: center;
  

} */

a {
  text-decoration: none;
  text-shadow: none;
  font-family: "roboto"; 
  font-size: 12px; 
  margin: 0px 0 15px 0;
  color: #fff

}


button {
  align-items:center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  font-family: "roboto";
  justify-content: center;
  line-height: 1.2em;
  max-width: 85%;
  min-width: 140px;
  font-size: 2.1em;
  padding: 12px 12px;
  white-space: pre;
  flex-wrap: wrap;
}
button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active{
  outline: 0;
}

@media (min-width: 768px) {
  button {
    font-size: 24px;
    min-width: 140px;
  }
}


em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  border: 0px;
  height: 140px;
  width: 137px;
  margin-right: 0px;
  padding-right: 15px;
  padding-bottom: 5px;
  float: left;
  margin-top: 35px;
  margin-left: 8px;
}

a img {
  border: 0px;
  position: relative;
  height: 60px;
  width: 54px;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

#heart-icon{
  color: #fff;
  font-size: 16px;
  background: none;

}

pre, code {
  width: 100%;
  color: #fff;
  background-color: #222;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;


  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre {
  padding: 10px 20px;
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin: 0 0 20px 2px;
  padding-left: 20px;
  border-left: 3px solid #bbb;
  font-style: italic;
}

ol, dl {
  margin: 0 0 15px 0;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  padding: 10px;
  background: #222;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #222;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}
 

/* nav styles mobile */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: rgb(17, 33, 100);
  z-index: 3;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-family: "roboto";
}

.nav__link a:hover {
  background-color: rgb(132, 177, 243);
}

.hide {
  display: none;
}


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */
/* 
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

/* header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 768px) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  padding: 0.7em 1em 0.7em 0;
  color: #000;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
  
  .nav-collapse:last-child a {
    padding-right: 0;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul ul a {
    display: none;
  }
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
 */

/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

/* header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0;
  color: #000;
  float: left;
} */


/* ------------------------------------------
  MASK
--------------------------------------------- */

/* .mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .2);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
} */


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

/* .nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}
/* 
.nav-toggle:before {
  color: #000;
  font: normal 28px/55px "FontAwesome"; 
  text-transform: none;
  text-align: right;
  position: absolute;
  content: "\f0c9"; 
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
} */
 
/* .nav-toggle.active:before {
  font-size: 24px;
  content: "\f00d"; /* Close icon */



/* Demo style */
/* 
body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
} */

/* img {
  max-width: 100%;
  padding: 0 0 20px 0; 
}

h2 {
  padding-bottom: 20px;
}

header {
  background: #FFF;
  opacity: 0.8;
} */

/* 
section {
  padding-bottom: 30px;
}

section p {
  padding-bottom: 20px;
}
 */
/*******************************************************************************
Full-Width Styles
*******************************************************************************/

@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
/* 
.video-area {
  padding: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2532;

} */



/* 
#fitlab_web {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 20px 10px 20px;
  color: #fff;

  font-weight: 700;
  border: 0px;
} */


header {
  color: #f2f2f2;
}

#header_wrap {
  background: #212121;
}

#header_wrap .inner {
  padding: 40px 10px 30px 20px;
}

#project_title {
  color: #fff;
  font-size: 40px;
  font-weight: 690;
  padding-top: 5px;
  padding-right: 0px;
  white-space: normal;
}

#project_tagline {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  background: none;
}

.downloads {
  display: block;
  padding-left: 50px;
  color: #f2f2f2;
  position: relative;
  height: 70px;
  background: url(../images/download.svg) no-repeat center left;
  background-size: 25px 20px;
}

.downloads a {
  margin-right: 20px;
}
.downloads a:hover {
  text-decoration: underline solid #fff;
}

#main_content {
  padding-top: 40px;
}

#main_content.inner {
  background-color: #fff;
  padding: 70px 100px;
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  -o-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

#footer_wrap {
  background: #212121;
}

.footer_outer{
  padding: 30px 20px 10px 20px;
 

}


footer {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "roboto condensed";
  padding-top: 105px;
}

.row {
  padding: 2em 1em;
}

.row.primary{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: stretch;
}

.column{
  width: 100%; 
  display: flex;
  padding: 0;
  min-height: 15em;
  margin-top: 10px;

}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
}

.vip p{

  text-align: justify;
  line-height: 2;
  margin: 0;
  color:#eee;
}

div.social {
  display: flex;
  font-size: 1.4em;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.copyright {
  padding: 0.3em 1em;
  
}

.copyright p{
  font-size: 0.9em;
  text-align: center;
  color: #fff;
}


.fab {
  font-size: 2rem;
  margin: 12px;
}

/* transition for social icon hover animation */
.fa-facebook,
.fa-tiktok,
.fa-youtube,
.fa-instagram,
.fa-github,
.fa-pinterest {
  transition: 0.4s;
  cursor: pointer;
}

.fa-facebook {
  color: #4267B2;
}

.fa-instagram {

  background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* social media icons hover color */
.fa-facebook:hover,
.fa-facebook:focus {
  color: #1877f2;
  transform: scale(1.1);
}
.fa-instagram:hover,
.fa-instagram:focus {
  color: #1877f2;
  transform: scale(1.1);
}

.fa-tiktok:hover,
.fa-tiktok:focus {
  color: #1877f2;
  transform: scale(1.1);
}

.container0 {
  position: relative;
  padding-top: 20px;
  
}


.container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  right: 20px;


}

.container2 {
  position: relative;
  padding-bottom: 25px;
  /* 16:9 */
  padding-top: 25px;
  margin-top: 25px;
  height: 627px;
  right: 20px;
  border-radius: 12px;


}



/* .containerNav {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.containerNav-bottom {
  margin-top: 80px;
} */

.container .promo_vid {

  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}

 
.container iframe {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}

.container2 iframe {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25
}
/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

@media screen and (max-width: 850px) {
  
  .row.primary {
    grid-template-columns: 1fr;
  }
}


  #header_wrap .inner {
    padding: 40px 30px 40px 30px;
  }

  #main_content.inner {
    padding: 10px;
  }

  #project_title {
  font-size: 36px;
  }

  p {
    font-size: 10px;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}
